# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=smart_home

# gRPC Configuration
GRPC_HOST=0.0.0.0

# JWT Authentication
JWT_SECRET_KEY=your-secret-key-here
JWT_TTL=3600

# API Configuration
SWAGGER_PORT=3000
RAILWAY_PUBLIC_DOMAIN=localhost

# Node Environment
NODE_ENV=development
